/* style.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#020617,#0f172a,#1e293b);
}

.container{
    width:320px;
    padding:25px;
    border-radius:18px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    box-shadow:0 0 25px rgba(0,255,255,0.3);
    text-align:center;
}

h1{
    color:white;
    margin-bottom:20px;
    font-size:28px;
}

.input-box{
    display:flex;
    gap:10px;
}

.input-box input{
    flex:1;
    padding:12px;
    border:none;
    outline:none;
    border-radius:10px;
    background:rgba(255,255,255,0.08);
    color:white;
    font-size:14px;
    border:2px solid transparent;
    transition:0.3s;
}

.input-box input:focus{
    border-color:#00ffff;
    box-shadow:0 0 10px #00ffff;
}

button{
    padding:12px 16px;
    border:none;
    border-radius:10px;
    background:linear-gradient(90deg,#00ffff,#00ff88);
    color:black;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px #00ffff;
}

#message{
    margin-top:18px;
    font-size:14px;
    font-weight:bold;
    color:white;
}