/* style.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#020617,#0f172a,#1e293b);
}

.container{
    width:320px;
    padding:25px;
    border-radius:18px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    box-shadow:0 0 25px rgba(0,255,255,0.3);
}

form h1{
    text-align:center;
    color:white;
    margin-bottom:20px;
    font-size:28px;
}

.input-box{
    margin-bottom:16px;
    position:relative;
}

.input-box input{
    width:100%;
    padding:12px;
    border:none;
    outline:none;
    border-radius:10px;
    background:rgba(255,255,255,0.08);
    color:white;
    font-size:14px;
    border:2px solid transparent;
    transition:0.3s;
}

.input-box input:focus{
    border-color:#00ffff;
    box-shadow:0 0 12px #00ffff;
}

.input-box.success input{
    border-color:#00ff88;
    box-shadow:0 0 10px #00ff88;
}

.input-box.error input{
    border-color:#ff004c;
    box-shadow:0 0 10px #ff004c;
}

.input-box small{
    color:#ff4d6d;
    font-size:12px;
    visibility:hidden;
    margin-top:5px;
    display:block;
}

.input-box.error small{
    visibility:visible;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:linear-gradient(90deg,#00ffff,#00ff88);
    color:black;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
    box-shadow:0 0 20px #00ffff;
}